/* header */
.header-div-nav-backg{
    width: 100%;
    height: 200px;
    background-color: #D9D9D9;
}
.mainlogo{
    width: 178px;
    height: 100px;
    margin-top: 50px;
    margin-left: 130px;
}
.div-header-nav{
    display: flex;
    justify-content: space-between;
}
.div-nav-list{
    margin-top: 85px;
    margin-right: 130px;
}
.ul-nav-list{
    display: flex;
}
.a-tag-red{
    color: #A62B28;
    margin-right: 38px;
}
.a-tag-grey{
    color: #717276;
    margin-right: 38px;
}
.a-tag-grey-without{
    color: #717276;
}
/* main poster */
.div-main-poster{
    margin-top: 160px;
    width: 100%;
}
.div-min-poster-centr{
    display: flex;
    justify-content: center;
}
.min-poster{
    width: 1180px;
    height: 287px;
}
/* main section */
.first-section{
    margin-top: 160px;
    width: 100%;
    display: flex;
    justify-content: center
}
.div-box{
    width: 100px;
    height: 100px;
    background-color: #A62B28;
}
.first-section-logo{
    width: 38.72px;
    height: 39.99px;
    margin: 30.01px 31.25px;
}
.first-section-title{
    margin-left: 40px;
    font-size: 32px;
    color: #717276;
    display: flex;
    align-items: center;
}
.box-h2-flex{
    display: flex;
}
.first-section-img-1{
    width: 380px;
    height: 512px;
}
.first-section-img-2{
    width: 380px;
    height: 512px;
    margin: 0px 20px;
}
.first-section-img-3{
    width: 380px;
    height: 512px;
}
.img-div{
    display: flex;
    margin-top: 40px;
}
span{
    display: block;
}
.author{
    font-weight:700;
    margin-top: 50px;
    font-size: 24px;
    color: #717276;
}
.book{
    margin-top: 8px;
    font-size: 24px;
    color: #000000;
}
.price{
    font-weight:700;
    margin-top: 8px;
    font-size: 24px;
    color: #000000;
}
.book-info-1{
    margin-left: 30px;
}
.book-info-2{
    margin-left: 10px; 
}
.second-section{
    margin-top: 160px;
    width: 100%;
    display: flex;
    justify-content: center
}
.second-section-logo{
    width: 38.72px;
    height: 39.99px;
    margin: 30px 30px;
}
.second-section-title{
    margin-left: 40px;
    font-size: 32px;
    color: #717276;
    display: flex;
    align-items: center;
}
.fotogallery{
    margin-top: 40px;
}
.box-margin{
    margin-top: 160px;
    width: 100%;
}
.centersecondpost{
    display: flex;
    justify-content: center;
}
.fotogallery-1{
    width: 280px;
    height: 260px;
    margin-right: 20px;
}
.fotogallery-4{
    width: 280px;
    height: 260px;
}
/* footer */
.footer-div{
    margin-top: 160px;
    width: 100%;
    height: 248px;
    background-color: #D9D9D9;
}
.div-footer-list{
    display: flex;
    justify-content: space-between;
}
.a-tag-black{
    font-size: 24px;
    color: #000000;
}
.a-tag-black-center{
    display: block;
    font-size: 24px;
    color: #000000;
    margin:8px 0px;
}
.footerimg{
    margin-right: 21px;
    width: 30px;
    height: 30px;
}
.footerimg-1{
    width: 30px;
    height: 30px;
}
.footer-ul{
    margin-top:71px;
    margin-left: 130px;
}
.footer-na-logo{
    margin-top: 71px;
    margin-right: 130px;
}